<p id="notice"><%= notice %></p>

<p>
  <strong>Npc:</strong>
  <%= @quest.npc.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @quest.name %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
