<% if alert %>
<div class="alert alert-dismissable alert-danger">
  <button class="close" data-dismiss="alert" type="button">×</button>
  <strong><%= alert %></strong>
</div>
<% end %>

<% if notice %>
<div class="alert alert-dismissable alert-success">
  <button class="close" data-dismiss="alert" type="button">×</button>
  <strong><%= notice %></strong>
</div>
<% end %>


<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-16">
      <div class="page-header">
        <h1>Mes Personnages</h1>
      </div>
      <div class="bs-component">
        <p>Equipé :</p>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Pv</th>
              <th>Atk</th>
              <th>Def</th>
              <th>Slot</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% if !@equip_item.nil? %>
            <% @equip_item.each do |item_equip| %>
            <tr>
              <td><%= item_equip.name %></td>
              <td><%= item_equip.pv %></td>
              <td><%= item_equip.atk %></td>
              <td><%= item_equip.def %></td>
              <td><%= item_equip.slot %></td>
              <td></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>





        <p>Inventaire :</p>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Pv</th>
              <th>Atk</th>
              <th>Def</th>
              <th>Slot</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% if !@inventory.nil? %>
            <% @inventory.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.pv %></td>
              <td><%= item.atk %></td>
              <td><%= item.def %></td>
              <td><%= item.slot %></td>
              <td>
                <%= form_tag( { :controller => 'inventories', :action => 'add_to_inventory', :id => item.id }) do %>
                <%= submit_tag("Selectionner") %>
                <% end %>
              </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div><!-- /example -->
    </div>
  </div>
</div>


