<p id="notice"><%= notice %></p>

<p>
  <strong>Characters:</strong>
  <%= @inventory.characters %>
</p>

<p>
  <strong>Items:</strong>
  <%= @inventory.items %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
