<h1>Connexion</h1>

<% if notice %>
<div class="alert alert-dismissable alert-success">
	<button class="close" data-dismiss="alert" type="button">×</button>
	<strong><%= notice %></strong>
</div>
<% end %>
<%= form_tag("/login", method: "POST") do %>
  <%= label_tag(:login, "Nom'utilisateur:") %>
  <%= text_field_tag(:login) %>
   <%= label_tag(:password, "Mot de passe:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Connexion") %>
<% end %>
