<% if alert %>
<div class="alert alert-dismissable alert-danger">
  <button class="close" data-dismiss="alert" type="button">×</button>
  <strong><%= alert %></strong>
</div>
<% end %>

<% if notice %>
<div class="alert alert-dismissable alert-success">
  <button class="close" data-dismiss="alert" type="button">×</button>
  <strong><%= notice %></strong>
</div>
<% end %>


<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-16">
      <div class="page-header">
        <h1>Quête(s) Disponible(s)</h1>
      </div>
      <div class="bs-component">

        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Nom du Pnj</th>
              <th>Nom de la quête</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @npcs.each do |npc| %>
            <tr>
              <td><%= npc.npc.name %></td>
              <td><%= npc.name %></td>
              <td>
                <%= link_to "Commencer la quête", controller: 'quests', action: 'start_quest', id: npc.id %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /example -->
    </div>
  </div>
</div>


