<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @npc.level %>
</p>

<p>
  <strong>Pv:</strong>
  <%= @npc.pv %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @npc.atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @npc.def %>
</p>

<%= link_to 'Edit', edit_npc_path(@npc) %> |
<%= link_to 'Back', npcs_path %>
